.any-item {
  position: relative;
  height: 100%;
  flex: 1;
  overflow: auto;
  min-width: 1px;
  .resize {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #d6d6d6;
    cursor: col-resize;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 3px 2px 3px 3px #b8b8b8;
    }
  }
  &:last-child .resize {
    display: none;
  }
}
